<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>display_name</key>
	<string>Legal</string>
	<key>line_height</key>
	<integer>34</integer>
	<key>width</key>
	<integer>768</integer>
	<key>width_834_1112</key>
	<integer>834</integer>
	<key>width_834_1194</key>
	<integer>834</integer>
	<key>width_1024_1366</key>
	<integer>1024</integer>
	<key>height</key>
	<integer>960</integer>
	<key>height_834_1112</key>
	<integer>1048</integer>
	<key>height_834_1194</key>
	<integer>1130</integer>
	<key>height_1024_1366</key>
	<real>1302</real>
	<key>display_name_ja</key>
	<string>リーガル</string>
	<key>display_name_it</key>
	<string>Blocco legale</string>
	<key>display_name_es</key>
	<string>Bloc de notas</string>
	<key>display_name_de</key>
	<string>US-Notizpapier</string>
	<key>display_name_zh-Hans</key>
	<string>拍纸本</string>
	<key>display_name_zh-Hant</key>
	<string>拍紙簿</string>
	<key>display_name_fr</key>
	<string>Document juridique</string>
	<key>display_name_ko</key>
	<string>법률상의</string>
	<key>dynamic_id</key>
	<integer>2</integer>
	<key>dynamic_template_info</key>
	<dict>
		<key>width</key>
		<integer>0</integer>
		<key>height</key>
		<integer>0</integer>
		<key>supporting_device_type</key>
		<integer>1</integer>
		<key>leftMargin</key>
		<integer>99</integer>
		<key>topMargin</key>
		<integer>0</integer>
		<key>rightMargin</key>
		<integer>0</integer>
		<key>bottomMargin</key>
		<integer>45</integer>
		<key>horizontalSpacing</key>
		<integer>33</integer>
		<key>verticalSpacing</key>
		<integer>5</integer>
		<key>bgColor</key>
		<string>#FAFAF0-1.0</string>
		<key>horizontalLineColor</key>
		<string>#000000-0.15</string>
		<key>verticalLineColor</key>
		<string>#000000-0.15</string>
		<key>themeClassName</key>
		<string>FTLegalTemplateFormat</string>
	</dict>
</dict>
</plist>
