<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ipad</key>
	<dict>
		<key>Port</key>
		<dict>
			<key>year</key>
			<dict>
				<key>baseBoxX</key>
				<real>5.15</real>
				<key>baseBoxY</key>
				<real>11.83</real>
				<key>cellOffsetX</key>
				<real>2.39</real>
				<key>cellOffsetY</key>
				<real>1.79</real>
				<key>boxBottomOffset</key>
				<real>4</real>
				<key>boxRightOffset</key>
				<real>4.91</real>
				<key>yearY</key>
				<real>3.91</real>
			</dict>
			<key>month</key>
			<dict>
				<key>monthY</key>
				<real>3.91</real>
				<key>baseBoxX</key>
				<real>20.02</real>
				<key>baseBoxY</key>
				<real>21.85</real>
				<key>cellOffsetX</key>
				<real>10.07</real>
				<key>cellOffsetY</key>
				<real>3.77</real>
				<key>boxRightOffset</key>
				<real>8.390000000000001</real>
				<key>boxBottomOffset</key>
				<real>37.4</real>
			</dict>
			<key>week</key>
			<dict>
				<key>baseBoxX</key>
				<real>4.79</real>
				<key>baseBoxY</key>
				<real>10.4</real>
				<key>titleLineY</key>
				<real>3.91</real>
				<key>cellWidth</key>
				<real>90.40000000000001</real>
				<key>cellHeight</key>
				<real>14.21</real>
			</dict>
			<key>day</key>
			<dict>
				<key>baseX</key>
				<real>4.79</real>
				<key>baseY</key>
				<real>1.94</real>
			</dict>
		</dict>
		<key>Land</key>
		<dict>
			<key>year</key>
			<dict>
				<key>baseBoxX</key>
				<real>3.68</real>
				<key>baseBoxY</key>
				<real>16.49</real>
				<key>cellOffsetX</key>
				<real>2.42</real>
				<key>cellOffsetY</key>
				<real>1.87</real>
				<key>boxBottomOffset</key>
				<real>5.19</real>
				<key>boxRightOffset</key>
				<real>3.77</real>
				<key>yearY</key>
				<real>5.32</real>
			</dict>
			<key>month</key>
			<dict>
				<key>monthY</key>
				<real>10.64</real>
				<key>baseBoxX</key>
				<real>14.21</real>
				<key>baseBoxY</key>
				<real>36.75</real>
				<key>cellOffsetX</key>
				<real>6.44</real>
				<key>cellOffsetY</key>
				<real>4.8</real>
				<key>boxRightOffset</key>
				<real>39.65</real>
				<key>boxBottomOffset</key>
				<real>13.5</real>
			</dict>
			<key>week</key>
			<dict>
				<key>baseBoxX</key>
				<real>3.59</real>
				<key>baseBoxY</key>
				<real>12.04</real>
				<key>titleLineY</key>
				<real>5.32</real>
				<key>cellWidth</key>
				<real>92.8</real>
				<key>cellHeight</key>
				<real>14.8</real>
			</dict>
			<key>day</key>
			<dict>
				<key>baseX</key>
				<real>3.59</real>
				<key>baseY</key>
				<real>3.37</real>
			</dict>
		</dict>
	</dict>
	<key>iphone</key>
	<dict>
		<key>Port</key>
		<dict>
			<key>year</key>
			<dict>
				<key>baseBoxX</key>
				<real>5.33</real>
				<key>baseBoxY</key>
				<real>9.529999999999999</real>
				<key>cellOffsetX</key>
				<real>5.06</real>
				<key>cellOffsetY</key>
				<real>2.61</real>
				<key>boxBottomOffset</key>
				<real>4.82</real>
				<key>boxRightOffset</key>
				<real>5.33</real>
				<key>yearY</key>
				<real>2.76</real>
			</dict>
			<key>month</key>
			<dict>
				<key>monthY</key>
				<integer>4</integer>
				<key>baseBoxX</key>
				<real>22.66</real>
				<key>baseBoxY</key>
				<real>17.67</real>
				<key>cellOffsetX</key>
				<real>8.800000000000001</real>
				<key>cellOffsetY</key>
				<real>2.45</real>
				<key>boxRightOffset</key>
				<real>6.13</real>
				<key>boxBottomOffset</key>
				<real>51.56</real>
			</dict>
			<key>week</key>
			<dict>
				<key>baseBoxX</key>
				<real>5.33</real>
				<key>baseBoxY</key>
				<real>9.69</real>
				<key>titleLineY</key>
				<real>2.9</real>
				<key>cellWidth</key>
				<real>89.33</real>
				<key>cellHeight</key>
				<real>14.24</real>
			</dict>
			<key>day</key>
			<dict>
				<key>baseX</key>
				<real>5.06</real>
				<key>baseY</key>
				<real>2.07</real>
			</dict>
			<key>notes</key>
			<dict>
				<key>boxWidth</key>
				<real>89.33</real>
				<key>dayInfoY</key>
				<real>5.24</real>
				<key>titleY</key>
				<real>4.69</real>
				<key>titleX</key>
				<real>6.93</real>
				<key>boxY</key>
				<real>10.35</real>
				<key>boxX</key>
				<real>5.33</real>
			</dict>
			<key>priorities</key>
			<dict>
				<key>boxWidth</key>
				<real>89.33</real>
				<key>dayInfoY</key>
				<real>5.24</real>
				<key>titleY</key>
				<real>4.69</real>
				<key>titleX</key>
				<real>6.63</real>
				<key>boxY</key>
				<real>10.35</real>
				<key>boxX</key>
				<real>5.33</real>
			</dict>
		</dict>
		<key>Land</key>
		<dict>
			<key>year</key>
			<dict>
				<key>baseBoxX</key>
				<real>3.68</real>
				<key>baseBoxY</key>
				<real>20.84</real>
				<key>cellOffsetX</key>
				<real>1.19</real>
				<key>cellOffsetY</key>
				<real>2.59</real>
				<key>boxBottomOffset</key>
				<real>8.51</real>
				<key>boxRightOffset</key>
				<real>2.88</real>
				<key>yearY</key>
				<real>10.57</real>
			</dict>
			<key>month</key>
			<dict>
				<key>monthY</key>
				<real>10.57</real>
				<key>baseBoxX</key>
				<real>7.19</real>
				<key>baseBoxY</key>
				<real>28.09</real>
				<key>cellOffsetX</key>
				<real>1.19</real>
				<key>cellOffsetY</key>
				<real>2.41</real>
				<key>boxRightOffset</key>
				<real>46.77</real>
				<key>boxBottomOffset</key>
				<real>7.85</real>
			</dict>
			<key>week</key>
			<dict>
				<key>baseBoxX</key>
				<real>2.99</real>
				<key>baseBoxY</key>
				<real>20.84</real>
				<key>titleLineY</key>
				<real>10.57</real>
				<key>cellOffsetX</key>
				<real>1.49</real>
				<key>cellOffsetY</key>
				<real>3.32</real>
				<key>cellWidth</key>
				<real>46.17</real>
				<key>cellHeight</key>
				<real>15.1</real>
			</dict>
			<key>day</key>
			<dict>
				<key>notesBoxX</key>
				<real>2.99</real>
				<key>notesBoxY</key>
				<real>53.17</real>
				<key>dailyPlanBoxX</key>
				<real>50.82</real>
				<key>dailyPlanBoxY</key>
				<real>20.84</real>
				<key>dailyPlanBoxWidth</key>
				<real>46.17</real>
				<key>dailyPlanBoxHeight</key>
				<real>70.98999999999999</real>
				<key>notesBoxWidth</key>
				<real>46.17</real>
				<key>notesBoxHeight</key>
				<real>38.67</real>
				<key>baseX</key>
				<real>3.59</real>
				<key>baseY</key>
				<real>10.57</real>
			</dict>
			<key>priorities</key>
			<dict>
				<key>boxWidth</key>
				<real>94</real>
				<key>dayInfoY</key>
				<real>11.48</real>
				<key>titleY</key>
				<real>10.27</real>
				<key>titleX</key>
				<real>3.89</real>
				<key>boxY</key>
				<real>20.24</real>
				<key>boxX</key>
				<real>2.99</real>
			</dict>
			<key>notes</key>
			<dict>
				<key>boxWidth</key>
				<real>94</real>
				<key>dayInfoY</key>
				<real>11.48</real>
				<key>titleY</key>
				<real>10.27</real>
				<key>titleX</key>
				<real>3.89</real>
				<key>boxY</key>
				<real>20.24</real>
				<key>boxX</key>
				<real>2.99</real>
			</dict>
		</dict>
	</dict>
	<key>screenFontDetails</key>
	<dict>
		<key>ipad</key>
		<dict>
			<key>year</key>
			<dict>
				<key>yearFontSize</key>
				<integer>22</integer>
				<key>titleMonthFontSize</key>
				<integer>13</integer>
				<key>outMonthFontSize</key>
				<integer>16</integer>
			</dict>
			<key>month</key>
			<dict>
				<key>monthFontSize</key>
				<integer>22</integer>
				<key>yearFontSize</key>
				<integer>22</integer>
				<key>weekFontSize</key>
				<integer>20</integer>
				<key>dayFontSize</key>
				<integer>22</integer>
			</dict>
			<key>week</key>
			<dict>
				<key>monthFontSize</key>
				<integer>22</integer>
				<key>yearFontSize</key>
				<integer>22</integer>
				<key>weekFontSize</key>
				<integer>16</integer>
				<key>dayFontSize</key>
				<integer>14</integer>
			</dict>
			<key>day</key>
			<dict>
				<key>dayFontSize</key>
				<integer>45</integer>
				<key>monthFontSize</key>
				<integer>22</integer>
				<key>weekFontSize</key>
				<integer>15</integer>
				<key>yearFontSize</key>
				<integer>22</integer>
			</dict>
		</dict>
		<key>iphone</key>
		<dict>
			<key>year</key>
			<dict>
				<key>yearFontSize</key>
				<integer>16</integer>
				<key>titleMonthFontSize</key>
				<integer>15</integer>
				<key>outMonthFontSize</key>
				<integer>16</integer>
			</dict>
			<key>month</key>
			<dict>
				<key>monthFontSize</key>
				<integer>16</integer>
				<key>yearFontSize</key>
				<integer>16</integer>
				<key>weekFontSize</key>
				<integer>13</integer>
				<key>dayFontSize</key>
				<integer>14</integer>
			</dict>
			<key>week</key>
			<dict>
				<key>monthFontSize</key>
				<integer>16</integer>
				<key>yearFontSize</key>
				<integer>16</integer>
				<key>weekFontSize</key>
				<integer>14</integer>
				<key>dayFontSize</key>
				<integer>12</integer>
			</dict>
			<key>day</key>
			<dict>
				<key>dayFontSize</key>
				<integer>22</integer>
				<key>monthFontSize</key>
				<integer>16</integer>
				<key>weekFontSize</key>
				<integer>12</integer>
				<key>yearFontSize</key>
				<integer>16</integer>
			</dict>
		</dict>
	</dict>
	<key>isToDisplayOutOfMonthDate</key>
	<false/>
</dict>
</plist>
