<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>409080850323-197pfl6uk2u9ba37ihir2f7qp4osh5f1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.409080850323-197pfl6uk2u9ba37ihir2f7qp4osh5f1</string>
	<key>API_KEY</key>
	<string>AIzaSyBaSBlmPdhAkjgpsVQonNliiVeM_R1Ba8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>409080850323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fluidtouch.noteshelf3</string>
	<key>PROJECT_ID</key>
	<string>noteshelf-3</string>
	<key>STORAGE_BUCKET</key>
	<string>noteshelf-3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:409080850323:ios:4cbc589f74f62d173d2a66</string>
</dict>
</plist>