<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>23C71</string>
	<key>CADisableMinimumFrameDuration</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Noteshelf 3</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ns3</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>NS3 Document</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.fluidtouch.noteshelf3</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>PDF Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>XLS / XLSX</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.excel.xls</string>
				<string>org.openxmlformats.spreadsheetml.sheet</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Doc / Docx</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.word.doc</string>
				<string>org.openxmlformats.wordprocessingml.document</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>PPT / PPTX</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.powerpoint.ppt</string>
				<string>org.openxmlformats.presentationml.presentation</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Zip</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.pkware.zip-archive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>noteshelf</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>doc-icon-noteshelffile.png</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Noteshelf Book</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.fluidtouch.noteshelfbook</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nsthemepack</string>
			</array>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Noteshel2 Theme Pack</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.fluidtouch.nsthemepack</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>audio File</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>.wav</string>
				<string>mp3</string>
				<string>aif</string>
				<string>flac</string>
				<string>caf</string>
				<string>m4a</string>
				<string>aiff</string>
				<string>aac</string>
				<string>aifc</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Noteshelf 3</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon-Prod60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon-Prod</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon-Prod60x60</string>
				<string>AppIcon-Prod76x76</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon-Prod</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.fluidtouch.noteshelf3</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Noteshelf 3</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Evernote</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>en-noteshelf3-3461</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Facebook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1702300406732314</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Dropbox</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>db-25u7ct2k9iro3ka</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Pencil Upgrade</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ns-pencil-firmware-upgrade</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.207000050327-oijso39v4kn8l3jfgm0vuugnf109t9ds</string>
				<string>com.googleusercontent.apps.207000050327-vf0tctah1bf3i78h5nthf8llrurprj6b</string>
				<string>com.googleusercontent.apps.409080850323-197pfl6uk2u9ba37ihir2f7qp4osh5f1</string>
				<string>com.googleusercontent.apps.207000050327-2hut5jjhnqm7pq2aicf0mdlg5ftpq6tt</string>
				<string>com.googleusercontent.apps.409080850323-rjr73ja1j78siv2tdqqvtcg8n846llvi</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>NS3 App URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.fluidtouch.noteshelf3</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Noteshelf Today New</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>noteshelf3widgetcreatenewnotebook</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Noteshelf Today Open</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>noteshelf3widgetopennotebook</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>OneDrive</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>www.noteshelf.net</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>80</string>
	<key>DTAppStoreToolsBuild</key>
	<string>15C5500a</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>21A326</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>17.0</string>
	<key>DTSDKBuild</key>
	<string>21A326</string>
	<key>DTSDKName</key>
	<string>iphoneos17.0</string>
	<key>DTXcode</key>
	<string>1501</string>
	<key>DTXcodeBuild</key>
	<string>15A507</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>INAlternativeAppNames</key>
	<array>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Noteshelf</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>Note shelf</string>
		</dict>
		<dict>
			<key>INAlternativeAppName</key>
			<string>Noteshelf2</string>
			<key>INAlternativeAppNamePronunciationHint</key>
			<string>Note shelf to</string>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>dbapi-2</string>
		<string>dbapi-8-emm</string>
		<string>fbauth2</string>
		<string>twitter</string>
		<string>instagram</string>
		<string>en</string>
		<string>msauth</string>
		<string>msauthv2</string>
		<string>msauthv3</string>
		<string>com.fluidtouch.noteshelf</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>16.0</string>
	<key>NSAccentColorName</key>
	<string>accent</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Used to capture and annotate photos in Noteshelf.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Used to open password protected notebooks without having to enter the password.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Used to record audio as you take notes in Noteshelf.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Used to save notes or sketches to photos album.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Used to import and annotate photos in Noteshelf.</string>
	<key>NSSiriUsageDescription</key>
	<string>This will enable you to create, search and open notebooks using Siri.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.fluidtouch.noteshelf3.createNotebook</string>
		<string>com.fluidtouch.noteshelf3.openNotebook</string>
		<string>com.fluidtouch.noteshelf3.openNotebook.newSession</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Inter-Regular.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Light.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Spectral-Regular.ttf</string>
		<string>Hanuman-Bold.ttf</string>
		<string>Hanuman-Regular.ttf</string>
		<string>Spectral-SemiBold.ttf</string>
		<string>Spectral-Medium.ttf</string>
		<string>Lora-Medium.ttf</string>
		<string>Lora-Italic.ttf</string>
		<string>Montserrat-Regular.ttf</string>
		<string>Lora-Regular.ttf</string>
		<string>Abel-Regular.ttf</string>
		<string>Andrea-Normal.ttf</string>
		<string>Coming Soon Regular.ttf</string>
		<string>Montserrat-ExtraLight.otf</string>
		<string>Montserrat-Light.otf</string>
		<string>GiveYouGlory.ttf</string>
		<string>Montserrat-Bold.otf</string>
		<string>Montserrat-ExtraBold.ttf</string>
		<string>Montserrat-SemiBold.otf</string>
		<string>Baskerville T Medium.otf</string>
		<string>DancingScript-Regular.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Aeonik-Bold.otf</string>
		<string>Aeonik-Regular.otf</string>
		<string>Clearface-Serial-Medium.otf</string>
		<string>SF-Pro-Text-Regular.otf</string>
		<string>Clearface-Serial-Bold.otf</string>
		<string>SF-Pro-Text-Medium.otf</string>
		<string>SF-Pro-Text-Semibold.otf</string>
		<string>SF-Pro-Display-Semibold.otf</string>
		<string>SF-Pro-Text-Light.otf</string>
		<string>AvenirNext.ttc</string>
		<string>SF-Pro-Text-Bold.otf</string>
		<string>SFUIText-Medium.ttf</string>
		<string>Aeonik-Medium.otf</string>
		<string>Clearface-Serial-Regular.otf</string>
		<string>SF-Pro-Display-Bold.otf</string>
		<string>SF-Pro-Display-Regular.otf</string>
		<string>Bitter-Regular.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UIApplicationSupportsTabbedSceneCollection</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UILaunchStoryboardName</key>
					<string>LaunchScreen</string>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>Noteshelf_3.SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>FTShelf</string>
				</dict>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Book Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>Noteshelf_3.FTBookOpenSceneDelegate</string>
				</dict>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Preference Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>Noteshelf_3.FTPreferenceSceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>FTNewSettings</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIMainStoryboardFile</key>
	<string>FTShelf</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PDF Document</string>
			<key>UTTypeIdentifier</key>
			<string>com.ramki.noteshelfpdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ns</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Noteshelf Document</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.fluidtouch.noteshelf3</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ns3</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/ns3</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.fluidtouch.noteshelfpdf</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Noteshelf PDF File</string>
			<key>UTTypeIdentifier</key>
			<string>com.fluidtouch.noteshelfpdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ns_pdf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Noteshelf Book</string>
			<key>UTTypeIdentifier</key>
			<string>com.fluidtouch.noteshelfbook</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>NS2</string>
				<key>public.filename-extension</key>
				<array>
					<string>noteshelf</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/ns2</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Noteshelf Docs</string>
			<key>UTTypeIdentifier</key>
			<string>com.fluidtouch.noteshelf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>NS2</string>
				<key>public.filename-extension</key>
				<array>
					<string>nsdata</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/ns2</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Noteshel2 Theme Pack</string>
			<key>UTTypeIdentifier</key>
			<string>com.fluidtouch.nsthemepack</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>NS2</string>
				<key>public.filename-extension</key>
				<array>
					<string>nsthemepack</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/ns2</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
