<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ipad</key>
	<dict>
		<key>Port</key>
		<dict>
			<key>day</key>
			<dict>
				<key>notesBoxWidth</key>
				<real>43.9</real>
				<key>notesBoxHeight</key>
				<real>28.62</real>
				<key>notesBoxX</key>
				<real>4.79</real>
				<key>notesBoxY</key>
				<real>65.17</real>
				<key>baseX</key>
				<real>4.79</real>
				<key>baseY</key>
				<real>12.21</real>
			</dict>
			<key>week</key>
			<dict>
				<key>baseBoxX</key>
				<real>4.79</real>
				<key>baseBoxY</key>
				<real>12.4</real>
				<key>titleLineY</key>
				<real>4.86</real>
				<key>cellOffsetX</key>
				<real>1.07</real>
				<key>cellOffsetY</key>
				<real>0.98</real>
				<key>cellWidth</key>
				<real>42.32</real>
				<key>cellHeight</key>
				<real>15.66</real>
			</dict>
			<key>month</key>
			<dict>
				<key>monthY</key>
				<real>4.77</real>
				<key>baseBoxX</key>
				<real>11.15</real>
				<key>baseBoxY</key>
				<real>12.3</real>
				<key>cellOffsetX</key>
				<real>0.59</real>
				<key>cellOffsetY</key>
				<real>0.49</real>
				<key>boxRightOffset</key>
				<real>9.44</real>
				<key>boxBottomOffset</key>
				<real>5.16</real>
			</dict>
			<key>calendar</key>
			<dict>
				<key>baseBoxX</key>
				<real>4.91</real>
				<key>baseBoxY</key>
				<real>14.41</real>
				<key>cellOffsetX</key>
				<real>2.39</real>
				<key>cellOffsetY</key>
				<real>6.39</real>
				<key>boxBottomOffset</key>
				<real>6.48</real>
				<key>boxRightOffset</key>
				<real>9.470000000000001</real>
				<key>yearY</key>
				<real>4.77</real>
				<key>yearX</key>
				<real>5.39</real>
			</dict>
			<key>year</key>
			<dict>
				<key>baseBoxX</key>
				<real>4.91</real>
				<key>baseBoxY</key>
				<real>10.4</real>
				<key>cellOffsetX</key>
				<real>2.87</real>
				<key>cellOffsetY</key>
				<real>1.9</real>
				<key>boxBottomOffset</key>
				<real>5.02</real>
				<key>boxRightOffset</key>
				<real>9.59</real>
				<key>yearX</key>
				<real>5.39</real>
				<key>yearY</key>
				<real>4.77</real>
			</dict>
			<key>journalDay</key>
			<dict>
				<key>headingWidth</key>
				<real>90.40000000000001</real>
				<key>quoteWidth</key>
				<real>90.40000000000001</real>
				<key>heading5Y</key>
				<real>82.72</real>
				<key>heading4Y</key>
				<real>68.7</real>
				<key>heading3Y</key>
				<real>49.9</real>
				<key>heading2Y</key>
				<real>35.87</real>
				<key>headingX</key>
				<real>6.11</real>
				<key>heading1Y</key>
				<real>21.85</real>
				<key>quoteX</key>
				<real>4.79</real>
				<key>quoteY</key>
				<real>11.92</real>
				<key>baseX</key>
				<real>5.39</real>
				<key>baseY</key>
				<real>4</real>
			</dict>
		</dict>
		<key>Land</key>
		<dict>
			<key>day</key>
			<dict>
				<key>notesBoxWidth</key>
				<real>43.9</real>
				<key>notesBoxHeight</key>
				<real>23.03</real>
				<key>notesBoxX</key>
				<real>3.59</real>
				<key>notesBoxY</key>
				<real>71.77</real>
				<key>baseX</key>
				<real>3.59</real>
				<key>baseY</key>
				<real>16.62</real>
			</dict>
			<key>week</key>
			<dict>
				<key>baseBoxX</key>
				<real>3.86</real>
				<key>baseBoxY</key>
				<real>14.28</real>
				<key>titleLineY</key>
				<real>5.58</real>
				<key>cellOffsetX</key>
				<real>0.87</real>
				<key>cellOffsetY</key>
				<real>1.29</real>
				<key>cellWidth</key>
				<real>43.91</real>
				<key>cellHeight</key>
				<real>19.12</real>
			</dict>
			<key>month</key>
			<dict>
				<key>monthY</key>
				<real>5.58</real>
				<key>baseBoxX</key>
				<real>8.27</real>
				<key>baseBoxY</key>
				<real>14.28</real>
				<key>cellOffsetX</key>
				<real>0.44</real>
				<key>cellOffsetY</key>
				<real>0.71</real>
				<key>boxRightOffset</key>
				<real>4.91</real>
				<key>boxBottomOffset</key>
				<real>3.73</real>
			</dict>
			<key>calendar</key>
			<dict>
				<key>baseBoxX</key>
				<real>4.94</real>
				<key>baseBoxY</key>
				<real>17.04</real>
				<key>cellOffsetX</key>
				<real>2.24</real>
				<key>cellOffsetY</key>
				<real>8.050000000000001</real>
				<key>boxBottomOffset</key>
				<real>5.32</real>
				<key>boxRightOffset</key>
				<real>8.449999999999999</real>
				<key>yearY</key>
				<real>5.45</real>
				<key>yearX</key>
				<real>4.04</real>
			</dict>
			<key>year</key>
			<dict>
				<key>baseBoxX</key>
				<real>3.59</real>
				<key>baseBoxY</key>
				<real>12.2</real>
				<key>cellOffsetX</key>
				<real>2.24</real>
				<key>cellOffsetY</key>
				<real>8.050000000000001</real>
				<key>boxBottomOffset</key>
				<real>5.19</real>
				<key>boxRightOffset</key>
				<real>3.68</real>
				<key>yearX</key>
				<real>4.04</real>
				<key>yearY</key>
				<real>5.58</real>
			</dict>
			<key>journalDay</key>
			<dict>
				<key>headingWidth</key>
				<real>92.8</real>
				<key>quoteWidth</key>
				<real>45.41</real>
				<key>heading5Y</key>
				<real>81.92</real>
				<key>heading4Y</key>
				<real>63.9</real>
				<key>heading3Y</key>
				<real>45.71</real>
				<key>heading2Y</key>
				<real>31.94</real>
				<key>headingX</key>
				<real>4.85</real>
				<key>heading1Y</key>
				<real>18.02</real>
				<key>quoteX</key>
				<real>50.08</real>
				<key>quoteY</key>
				<real>5.45</real>
				<key>baseX</key>
				<real>4.04</real>
				<key>baseY</key>
				<real>5.45</real>
			</dict>
		</dict>
	</dict>
	<key>iphone</key>
	<dict>
		<key>Port</key>
		<dict>
			<key>year</key>
			<dict>
				<key>baseBoxX</key>
				<real>5.33</real>
				<key>baseBoxY</key>
				<real>10.35</real>
				<key>cellOffsetX</key>
				<real>2.15</real>
				<key>cellOffsetY</key>
				<real>1.81</real>
				<key>boxBottomOffset</key>
				<real>4.83</real>
				<key>boxRightOffset</key>
				<real>5.33</real>
				<key>yearY</key>
				<real>4.83</real>
			</dict>
			<key>month</key>
			<dict>
				<key>monthY</key>
				<real>4.97</real>
				<key>baseBoxX</key>
				<real>9.06</real>
				<key>baseBoxY</key>
				<real>15.74</real>
				<key>cellOffsetX</key>
				<real>2.13</real>
				<key>cellOffsetY</key>
				<real>1.1</real>
				<key>boxRightOffset</key>
				<real>5.33</real>
				<key>boxBottomOffset</key>
				<real>54.97</real>
			</dict>
			<key>journalDay</key>
			<dict>
				<key>headingWidth</key>
				<real>89.33</real>
				<key>quoteWidth</key>
				<real>89.33</real>
				<key>heading5Y</key>
				<real>83.42</real>
				<key>heading4Y</key>
				<real>68.09</real>
				<key>heading3Y</key>
				<real>50.27</real>
				<key>heading2Y</key>
				<real>34.94</real>
				<key>headingX</key>
				<real>6.4</real>
				<key>heading1Y</key>
				<real>19.61</real>
				<key>quoteX</key>
				<real>5.33</real>
				<key>quoteY</key>
				<real>8.699999999999999</real>
				<key>baseX</key>
				<real>5.6</real>
				<key>baseY</key>
				<real>2.9</real>
			</dict>
		</dict>
		<key>Land</key>
		<dict>
			<key>journalDay</key>
			<dict>
				<key>headingWidth</key>
				<real>45.87</real>
				<key>quoteWidth</key>
				<real>44.97</real>
				<key>heading5Y</key>
				<real>43.8</real>
				<key>heading4Y</key>
				<real>21.14</real>
				<key>heading3Y</key>
				<real>67.97</real>
				<key>heading2Y</key>
				<real>44.86</real>
				<key>headingX</key>
				<real>2.99</real>
				<key>heading1Y</key>
				<real>21.14</real>
				<key>quoteX</key>
				<real>52.02</real>
				<key>quoteY</key>
				<real>6.04</real>
				<key>baseX</key>
				<real>2.99</real>
				<key>baseY</key>
				<real>5.43</real>
			</dict>
			<key>year</key>
			<dict>
				<key>baseBoxX</key>
				<real>3.14</real>
				<key>baseBoxY</key>
				<real>20.84</real>
				<key>cellOffsetX</key>
				<real>1.64</real>
				<key>cellOffsetY</key>
				<real>3.12</real>
				<key>boxBottomOffset</key>
				<real>11.88</real>
				<key>boxRightOffset</key>
				<real>2.99</real>
				<key>yearY</key>
				<real>9.960000000000001</real>
			</dict>
			<key>month</key>
			<dict>
				<key>monthY</key>
				<real>9.960000000000001</real>
				<key>baseBoxX</key>
				<real>6.14</real>
				<key>baseBoxY</key>
				<real>26.88</real>
				<key>cellOffsetX</key>
				<real>1.19</real>
				<key>cellOffsetY</key>
				<real>2.71</real>
				<key>boxRightOffset</key>
				<real>47.82</real>
				<key>boxBottomOffset</key>
				<real>9.960000000000001</real>
			</dict>
		</dict>
	</dict>
	<key>screenFontDetails</key>
	<dict>
		<key>ipad</key>
		<dict>
			<key>year</key>
			<dict>
				<key>outMonthFontSize</key>
				<integer>0</integer>
				<key>yearFontSize</key>
				<integer>21</integer>
				<key>titleMonthFontSize</key>
				<integer>11</integer>
			</dict>
			<key>month</key>
			<dict>
				<key>monthFontSize</key>
				<integer>21</integer>
				<key>yearFontSize</key>
				<integer>21</integer>
				<key>weekFontSize</key>
				<integer>11</integer>
				<key>dayFontSize</key>
				<integer>11</integer>
			</dict>
			<key>week</key>
			<dict>
				<key>monthFontSize</key>
				<integer>40</integer>
				<key>yearFontSize</key>
				<integer>15</integer>
				<key>weekFontSize</key>
				<integer>21</integer>
				<key>dayFontSize</key>
				<integer>9</integer>
			</dict>
			<key>day</key>
			<dict>
				<key>yearFontSize</key>
				<integer>15</integer>
				<key>monthFontSize</key>
				<integer>21</integer>
				<key>dayFontSize</key>
				<integer>9</integer>
				<key>weekFontSize</key>
				<integer>11</integer>
			</dict>
		</dict>
		<key>iphone</key>
		<dict>
			<key>calendar</key>
			<dict>
				<key>yearFontSize</key>
				<integer>21</integer>
				<key>titleMonthFontSize</key>
				<integer>11</integer>
				<key>weekFontSize</key>
				<integer>8</integer>
				<key>dayFontSize</key>
				<integer>8</integer>
			</dict>
			<key>priorities</key>
			<dict>
				<key>dayFontSize</key>
				<integer>15</integer>
				<key>yearFontSize</key>
				<integer>20</integer>
			</dict>
			<key>year</key>
			<dict>
				<key>outMonthFontSize</key>
				<integer>0</integer>
				<key>yearFontSize</key>
				<integer>20</integer>
				<key>titleMonthFontSize</key>
				<integer>11</integer>
			</dict>
			<key>month</key>
			<dict>
				<key>monthFontSize</key>
				<integer>13</integer>
				<key>yearFontSize</key>
				<integer>20</integer>
				<key>weekFontSize</key>
				<integer>9</integer>
				<key>dayFontSize</key>
				<integer>9</integer>
			</dict>
			<key>week</key>
			<dict>
				<key>monthFontSize</key>
				<integer>20</integer>
				<key>yearFontSize</key>
				<integer>20</integer>
				<key>weekFontSize</key>
				<integer>20</integer>
				<key>dayFontSize</key>
				<integer>10</integer>
			</dict>
			<key>day</key>
			<dict>
				<key>dayFontSize</key>
				<integer>20</integer>
				<key>monthFontSize</key>
				<integer>20</integer>
				<key>weekFontSize</key>
				<integer>20</integer>
				<key>yearFontSize</key>
				<integer>14</integer>
			</dict>
		</dict>
	</dict>
	<key>isToDisplayOutOfMonthDate</key>
	<false/>
</dict>
</plist>
