<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>display_name</key>
	<string>Colorful Planner</string>
	<key>display_name_es</key>
	<string>Planificador colorido</string>
	<key>display_name_ja</key>
	<string>カラフルなプランナー</string>
	<key>display_name_it</key>
	<string>Agenda colorata</string>
	<key>display_name_fr</key>
	<string>Agenda coloré</string>
	<key>display_name_zh-Hans</key>
	<string>多彩规划师</string>
	<key>display_name_zh-Hant</key>
	<string>多彩規劃師</string>
	<key>display_name_de</key>
	<string>Bunte Planer</string>
	<key>display_name_ko</key>
	<string>다채로운 플래너</string>
	<key>line_height</key>
	<integer>34</integer>
	<key>width</key>
	<integer>768</integer>
	<key>height</key>
	<integer>960</integer>
	<key>dynamic_id</key>
	<integer>1</integer>
	<key>template_id</key>
	<string>Digital_Diaries_Colorful_Planner</string>
	<key>restrictsChangeTemplate</key>
	<true/>
	<key>footer_option</key>
	<integer>1</integer>
</dict>
</plist>
