<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ipad</key>
	<dict>
		<key>Port</key>
		<dict>
			<key>year</key>
			<dict>
				<key>baseBoxX</key>
				<real>5.15</real>
				<key>baseBoxY</key>
				<real>29.96</real>
				<key>cellOffsetX</key>
				<real>3.59</real>
				<key>cellOffsetY</key>
				<real>2.86</real>
				<key>boxBottomOffset</key>
				<real>3.81</real>
				<key>boxRightOffset</key>
				<real>5.27</real>
				<key>yearY</key>
				<real>10.78</real>
			</dict>
			<key>month</key>
			<dict>
				<key>monthY</key>
				<real>10.59</real>
				<key>baseBoxX</key>
				<real>17.14</real>
				<key>baseBoxY</key>
				<real>42.55</real>
				<key>cellOffsetX</key>
				<integer>0</integer>
				<key>cellOffsetY</key>
				<integer>0</integer>
				<key>boxRightOffset</key>
				<real>6.57</real>
				<key>boxBottomOffset</key>
				<real>3.81</real>
			</dict>
			<key>week</key>
			<dict>
				<key>baseBoxX</key>
				<real>5.39</real>
				<key>baseBoxY</key>
				<real>13.93</real>
				<key>cellOffsetX</key>
				<real>3.59</real>
				<key>cellOffsetY</key>
				<real>2.38</real>
				<key>cellWidth</key>
				<real>27.33</real>
				<key>cellHeight</key>
				<real>32.44</real>
			</dict>
			<key>day</key>
			<dict>
				<key>baseX</key>
				<real>3.59</real>
				<key>baseY</key>
				<real>1.94</real>
			</dict>
		</dict>
		<key>Land</key>
		<dict>
			<key>year</key>
			<dict>
				<key>baseBoxX</key>
				<real>4.22</real>
				<key>baseBoxY</key>
				<real>40.12</real>
				<key>cellOffsetX</key>
				<real>1.79</real>
				<key>cellOffsetY</key>
				<real>2.59</real>
				<key>boxBottomOffset</key>
				<real>5.33</real>
				<key>boxRightOffset</key>
				<real>4.2</real>
				<key>yearY</key>
				<real>11.68</real>
			</dict>
			<key>month</key>
			<dict>
				<key>monthY</key>
				<real>20.64</real>
				<key>baseBoxX</key>
				<real>42.08</real>
				<key>baseBoxY</key>
				<real>29.37</real>
				<key>cellOffsetX</key>
				<integer>0</integer>
				<key>cellOffsetY</key>
				<integer>0</integer>
				<key>boxRightOffset</key>
				<real>3.67</real>
				<key>boxBottomOffset</key>
				<real>22.2</real>
			</dict>
			<key>week</key>
			<dict>
				<key>baseBoxX</key>
				<real>3.59</real>
				<key>baseBoxY</key>
				<real>15.58</real>
				<key>cellOffsetX</key>
				<real>1.8</real>
				<key>cellOffsetY</key>
				<real>2.59</real>
				<key>cellWidth</key>
				<real>29.73</real>
				<key>cellHeight</key>
				<real>27.92</real>
			</dict>
			<key>day</key>
			<dict>
				<key>baseX</key>
				<real>3.59</real>
				<key>baseY</key>
				<real>3.37</real>
			</dict>
		</dict>
	</dict>
	<key>iphone</key>
	<dict>
		<key>Port</key>
		<dict>
			<key>year</key>
			<dict>
				<key>baseBoxX</key>
				<real>6.66</real>
				<key>baseBoxY</key>
				<real>23.65</real>
				<key>cellOffsetX</key>
				<real>2.66</real>
				<key>cellOffsetY</key>
				<real>1.38</real>
				<key>boxBottomOffset</key>
				<real>5.01</real>
				<key>boxRightOffset</key>
				<real>6.6</real>
				<key>yearY</key>
				<real>2.76</real>
			</dict>
			<key>month</key>
			<dict>
				<key>monthY</key>
				<real>2.76</real>
				<key>baseBoxX</key>
				<real>20.53</real>
				<key>baseBoxY</key>
				<real>38.55</real>
				<key>cellOffsetX</key>
				<integer>0</integer>
				<key>cellOffsetY</key>
				<integer>0</integer>
				<key>boxRightOffset</key>
				<real>5.74</real>
				<key>boxBottomOffset</key>
				<real>25.96</real>
			</dict>
			<key>week</key>
			<dict>
				<key>baseBoxX</key>
				<real>5.6</real>
				<key>baseBoxY</key>
				<real>12.43</real>
				<key>titleLineY</key>
				<integer>0</integer>
				<key>cellWidth</key>
				<real>88.53</real>
				<key>cellHeight</key>
				<real>10.35</real>
				<key>cellOffsetY</key>
				<real>1.65</real>
			</dict>
			<key>day</key>
			<dict>
				<key>baseX</key>
				<real>5.06</real>
				<key>baseY</key>
				<real>2.07</real>
			</dict>
			<key>notes</key>
			<dict>
				<key>boxWidth</key>
				<real>89.33</real>
				<key>dayInfoY</key>
				<real>5.24</real>
				<key>titleY</key>
				<real>4.69</real>
				<key>titleX</key>
				<real>6.93</real>
				<key>boxY</key>
				<real>10.35</real>
				<key>boxX</key>
				<real>5.33</real>
			</dict>
			<key>priorities</key>
			<dict>
				<key>boxWidth</key>
				<real>89.33</real>
				<key>dayInfoY</key>
				<real>5.24</real>
				<key>titleY</key>
				<real>4.69</real>
				<key>titleX</key>
				<real>6.63</real>
				<key>boxY</key>
				<real>10.35</real>
				<key>boxX</key>
				<real>5.33</real>
			</dict>
		</dict>
	</dict>
	<key>screenFontDetails</key>
	<dict>
		<key>ipad</key>
		<dict>
			<key>year</key>
			<dict>
				<key>yearFontSize</key>
				<integer>150</integer>
				<key>titleMonthFontSize</key>
				<integer>20</integer>
				<key>outMonthFontSize</key>
				<integer>0</integer>
			</dict>
			<key>month</key>
			<dict>
				<key>monthFontSize</key>
				<integer>120</integer>
				<key>yearFontSize</key>
				<integer>45</integer>
				<key>weekFontSize</key>
				<integer>20</integer>
				<key>dayFontSize</key>
				<integer>18</integer>
			</dict>
			<key>week</key>
			<dict>
				<key>monthFontSize</key>
				<integer>22</integer>
				<key>yearFontSize</key>
				<integer>22</integer>
				<key>weekFontSize</key>
				<integer>16</integer>
				<key>dayFontSize</key>
				<integer>14</integer>
			</dict>
			<key>day</key>
			<dict>
				<key>dayFontSize</key>
				<integer>55</integer>
				<key>monthFontSize</key>
				<integer>18</integer>
				<key>weekFontSize</key>
				<integer>12</integer>
				<key>yearFontSize</key>
				<integer>18</integer>
			</dict>
		</dict>
		<key>iphone</key>
		<dict>
			<key>year</key>
			<dict>
				<key>outMonthFontSize</key>
				<integer>0</integer>
				<key>yearFontSize</key>
				<integer>90</integer>
				<key>titleMonthFontSize</key>
				<integer>14</integer>
			</dict>
			<key>month</key>
			<dict>
				<key>monthFontSize</key>
				<integer>90</integer>
				<key>yearFontSize</key>
				<integer>35</integer>
				<key>weekFontSize</key>
				<integer>14</integer>
				<key>dayFontSize</key>
				<integer>12</integer>
			</dict>
			<key>week</key>
			<dict>
				<key>monthFontSize</key>
				<integer>12</integer>
				<key>yearFontSize</key>
				<integer>12</integer>
				<key>weekFontSize</key>
				<integer>12</integer>
				<key>dayFontSize</key>
				<integer>10</integer>
			</dict>
			<key>day</key>
			<dict>
				<key>dayFontSize</key>
				<integer>30</integer>
				<key>monthFontSize</key>
				<integer>16</integer>
				<key>weekFontSize</key>
				<integer>12</integer>
				<key>yearFontSize</key>
				<integer>12</integer>
			</dict>
		</dict>
	</dict>
	<key>isToDisplayOutOfMonthDate</key>
	<false/>
</dict>
</plist>
